<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<style>
    body{
        background-color: lightgrey;
    }
    div{
        margin: 10%;
        width: 50%;
        height: auto;
        background-color: white;
        padding: 20px;
        box-shadow:  0px 0px 3px rgba(0, 0, 0, 0.2);
    }
    img{
        width: 600px;
        height: 400px;
    }
    .img-div{
        left: 40%;
    }
    h2{
        font-family: 'Roboto',sans-serif;
    }
    .mt-2{
        margin-top:20px;
    }
    .center{
        text-align: center;
    }
</style>
<body>
    <div>
        <section class="img-div">
            <img src="green-tick-icon-bgless.png" alt="A green tick icon">
        </section>
        <h2 class="mt-2 center">Thank You!</h2>
        <p class="mt-2 center">Your submission has been received.</p>
    </div>
</body>
</html>